<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lista de editoriales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                    <th scope="col"> Id de la editorial </th>
                    <th scope="col">Nombre de la editorial</th>
                    </tr>
                </thead>
                <tbody th:each="editorial : ${editoriales}">
                    <tr>
                        <th scope="row" th:text="${editorial.id}"></th>
                        <td th:text="${editorial.nombre}"></td>
                        <td>
                           <a th:href= "@{/editorial/modificar/__${editorial.id}__}">Modificar </a>
                        </td>
                    </tr>                
            </table>
        </div>
    </body>
</html>
