<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>¡¡ESTAMOS EN EL INICIO!!
            <h1>Verificando que funciona</h1>
        </div>
        <div>
            <li><a href="/logout"> Cerrar sesión </a> </li>
        </div>
        <div>
            <li><a th:href="@{/perfil}">Editar perfil</a></li>
        </div>
        <div>
            <p th="if=${session.usuariosession != null}" th:text =" 'Hola de nuevo '+ ${session.usuariosession.nombre}"></p>
        </div>
        <div>
            <a th:if="${session.usuariosession.imagen != null}">
                <img th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" width="100" height="100" >
            </a>
        </div>
    </body>
</html>
